$background: #fff;
$text-outline: #383d52; 
$text-color: rgba(255, 89, 0, 0.85);  //#808080; 
$button-color: #ff5900;
$button-font: 19px; 
$button-padding: 45px; 
$button-margin-bottom: 60px; 
$button-margin-top: 100px; 